<div id="search-container">
	<p>Search the Directory by Name</p>
	<form action="/search" method="GET">
		<label for="name"></label>
		<input type="text" name="name" placeholder="Enter name here..."/>
		<input type="submit" value="Search" />
	</form>
</div>

<table id="index-table">
	<tr>
		<th>Type</th>
		<th>Name</th>
		<th>Email</th>
		<th>IQ</th>
		<th>Reason for joining</th>
	</tr>
	<% people.each do |record| %>
		<tr>
			<td><%= record[1] %></td>
			<td><%= record[2] %></td>
			<td><%= record[3] %></td>
			<td><%= record[5] %></td>
			<td><%= record[4] %></td>
	</tr>
	<% end %>
</table>